{% extends 'Home/index.html' %}

{% block content %}
<div class="row mt-2">
        <div class="col-md-10">
            <h2> Deducciones</h2>
        </div>
        <div class="col-md-2">
            <a href="{% url 'InsertarDeducion'  %}" class="btn btn-success btn-block whiteText mb-0"> Crear Deducion</a>
        </div>
</div>
    <table class="table mt-4 table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Depende del salario</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for Deducion in Deduciones %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ Deducion.Nombre }}</td>

                        {% if Deducion.DependeSalario %}
                            <td>Si</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        
                        {% if Deducion.Estado %}
                            <td>Activo</td>
                        {% else %}
                            <td>Inactivo</td>
                        {% endif %}
                        
                        <td>
                            <a href="{% url 'ActualizarDeducion' Deducion.id %}" class="btn btn-warning px-0 whiteText">
                                Editar
                            </a>
                            
                            <form class="d-inline" action="{% url 'EliminarDeduccion' Deducion.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    Eliminar
                                </button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %}